<!DOCTYPE html>
<html lang="fr">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{%static 'market/style.css' %}">
    <title>Accueil</title>
</head>
<body>
    <h1>Accueil</h1>
    <p>Bienvenue sur le site du marketplace</p>

    {% if request.session.user_id %}
        <p>Bienvenue, {{ request.session.user_name }} !</p>
        <p><a href="/market/logout">Déconnexion</a></p>
    {% else %}
        <p>Bienvenue sur le site du marketplace. <a href="/market/login">Connectez-vous</a></p>
    {% endif %}

    {% for item in Items %}
        <p>{{item.id}} : {{ item }}</p>
    {% endfor %}
</body>
</html>