<!DOCTYPE html>
<html lang="fr">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{%static 'market/style.css' %}">
    <title>Marketplace - Portail de connexion</title>
</head>
<body>
    <h1>Portail de connexion</h1>

    <form action="login_user/" method="post" class="form-horizontal">
        {% csrf_token%}

        <label for="username">Username</label>
        <input type="text" class="form-control" name="username" id="username" placeholder="Enter Username">

        <label for="password">Password</label>
        <input type="password" class="form-control" name="password" id="password" placeholder="Enter Password">

        <button type="submit" class="btn btn-primary">Se connecter</button>
    </form>

    <a href="/market/users/add">Créer un compte</a>
</body>
</html>